


.user-inform{
	margin-top: 16px;
	margin-left: 16px;
	margin-right: 16px;
	background-color: white;
	border-radius: 4px;
}


.userinform-button button{
	width: 160px;
}

.user-inform .ant-col-12{
	margin-bottom: -10px;

}

.userinform-button{
	text-align: center;
	margin: 30px 0;
}

.userinform-button01{
	margin: 0 20px;
}

/*forbid modifying*/
.inform-user label,.inform-phone label{
	color: #b3b3b3;
}